<section class="order about">
  <div class="container">
    <div>
      <div class="order-text-title double-title" id="delivery">
        <span>Лучшая </span>итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A magnam placeat qui quos tempora? Ad
        consequuntur deserunt, eaque eius fuga harum iste laudantium odit quod reiciendis ut veniam vitae
        voluptatibus?
        Adipisci amet facilis impedit maiores nam nostrum omnis praesentium repudiandae sequi, voluptatum! Aut
        deserunt dolore eveniet ex ipsam iure laborum molestiae natus necessitatibus nemo nihil, quo saepe sunt ut
        vitae.
        Adipisci amet facilis impedit maiores nam nostrum omnis praesentium repudiandae sequi, voluptatum! Aut
        deserunt dolore eveniet ex ipsam iure laborum molestiae natus necessitatibus nemo nihil, quo saepe sunt ut
        vitae.
        Adipisci amet facilis impedit maiores nam nostrum omnis praesentium repudiandae sequi, voluptatum! Aut
        deserunt dolore eveniet ex ipsam iure laborum molestiae natus necessitatibus nemo nihil, quo saepe sunt ut
        vitae.
        Adipisci amet facilis impedit maiores nam nostrum omnis praesentium repudiandae sequi, voluptatum! Aut
        deserunt dolore eveniet ex ipsam iure laborum molestiae natus necessitatibus nemo nihil, quo saepe sunt ut
        vitae.
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizza">
      <img src="assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>
<app-popup [data]="'about component'"></app-popup>
