<section class="order" id="order">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title" id="delivery">
        <a routerLink="/order" [queryParams]="{product: formValues.productTitle + '1 '}">Хватит думать!</a> Доставим
        заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <form class="order-form" id="order-form">

      <span class="p-float-label">
       <input type="text" class="order-input" id="product"
              pInputText [(ngModel)]="formValues.productTitle" name="product">
        <label for="product">Продукт</label>
      </span>

      <span class="p-float-label">
       <input type="text" class="order-input" id="address"
              pInputText [(ngModel)]="formValues.productTitle" name="address">
        <label for="address">Адрес доставки</label>
      </span>

      <span class="p-float-label">
       <input type="text" class="order-input" id="phone"
              pInputText [(ngModel)]="formValues.productTitle" name="phone">
        <label for="phone">Телефон</label>
      </span>


<!--      <input type="text" placeholder="Адрес доставки" class="order-input"-->
<!--             pInputText [(ngModel)]="formValues.address" name="address">-->

<!--      <input type="text" placeholder="Телефон" class="order-input"-->
<!--             pInputText [(ngModel)]="formValues.phone" name="phone">-->

      <button class="button" tuiButton (click)="createOrder()">Оформить заказ</button>
    </form>
    <div class="order-image">
      <img src="../../../assets/images/pizzzzza.png" alt="Pizza">
    </div>
  </div>
</section>
